<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kmlurl</key>
	<string>https://maps.google.com/maps/ms?ie=UTF8&amp;oe=UTF8&amp;authuser=0&amp;msa=0&amp;output=kml&amp;msid=203737441297139930419.000001129d423eeb9595d</string>
</dict>
</plist>
